@font-face {
  font-family: "Waverly CF";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/WaverlyCF-Thin.woff2") format("woff"); }

@font-face {
  font-family: "Waverly CF";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/WaverlyCF-Light.woff2") format("woff"); }

@font-face {
  font-family: "Waverly CF";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/WaverlyCF-Medium.woff2") format("woff"); }

@font-face {
  font-family: "Waverly CF Demi";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/WaverlyCF-DemiBold.woff2") format("woff"); }

@font-face {
  font-family: "Waverly CF";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/WaverlyCF-Bold.woff2") format("woff"); }

@font-face {
  font-family: "Waverly CF Extra";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/WaverlyCF-ExtraBold.woff2") format("woff"); }

.wrapper__plants-title, .wrapper__pots-title, .wrapper__about-us-title, .wrapper__advantages-title {
  color: rgba(0, 82, 71, 0.8);
  font: bold 80px/100% "Waverly CF";
  padding-bottom: 10px;
  width: fit-content;
  border-bottom: 10px solid rgba(0, 82, 71, 0.8); }

.wrapper__plants-subtitle, .wrapper__pots-subtitle, .wrapper__about-us-subtitle {
  font: bold 30px/100% "Waverly CF";
  color: #444444;
  margin-top: 40px; }

.wrapper__plants-text, .wrapper__pots-text, .wrapper__about-us-text {
  font: 100 18px/100% "Waverly CF";
  color: #808080;
  margin-top: 30px;
  text-align: justify; }

.wrapper__sidebar.active, .wrapper__socials-wrap.active, .wrapper__plants-title.active, .wrapper__pots-title.active, .wrapper__about-us-title.active, .wrapper__plants-subtitle.active, .wrapper__pots-subtitle.active, .wrapper__about-us-subtitle.active, .wrapper__plants-text.active, .wrapper__pots-text.active, .wrapper__about-us-text.active, .wrapper__button.active, .wrapper__plants-image.active, .wrapper__pots-image.active, .wrapper__about-us-image.active, .wrapper__advantages-title.active, .wrapper__advantages-column.active {
  transform: translateX(0);
  opacity: 1; }

@keyframes column {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

*::selection {
  background-color: #FFCC73; }

body {
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: " . plants plants plants plants plants-image plants-image plants-image"  "pots-image pots-image pots-image pots-image pots-image pots pots pots "  " . about about about-image about-image about-image about-image about-image " " . adv adv adv adv adv adv . ";
  position: relative;
  margin-left: 220px; }

nav {
  display: flex;
  flex-direction: column; }
  nav .nav-link {
    transform: translateX(0);
    transition: transform .5s ease; }
    nav .nav-link.close {
      transform: translateX(-15vw); }

.wrapper {
  width: 100%;
  min-width: 100%;
  display: flex; }
  .wrapper__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 220px;
    width: 100%;
    height: 100vh;
    visibility: visible;
    position: fixed;
    z-index: 40;
    overflow: hidden;
    transform: translateX(-20vw);
    transition: all .5s ease;
    opacity: 0; }
  .wrapper__sidebar-nav {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    height: 100vh; }
    .wrapper__sidebar-nav a {
      text-decoration: none;
      font: bold 25px/100% "Waverly CF";
      color: #444444;
      margin-top: 50px;
      padding-bottom: 5px;
      position: relative;
      width: fit-content; }
    .wrapper__sidebar-nav a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: rgba(0, 82, 71, 0.8);
      opacity: 0.8;
      transition: all .3s ease; }
    .wrapper__sidebar-nav a:hover:after {
      width: 100%; }
    .wrapper__sidebar-nav a:hover {
      color: rgba(0, 82, 71, 0.8); }
  .wrapper__sidebar-contacts {
    width: 200px;
    padding-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    bottom: 0;
    text-decoration: none;
    font: bold 25px/100% "Waverly CF";
    color: #FFCC73;
    background: rgba(0, 82, 71, 0.8);
    position: absolute; }
    .wrapper__sidebar-contacts:after {
      content: "";
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
      background-color: rgba(0, 82, 71, 0.5);
      width: 0;
      transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .wrapper__sidebar-contacts:hover:after {
      width: 100%; }
  .wrapper__sidebar-search {
    margin-bottom: 15vh;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center; }
    .wrapper__sidebar-search form {
      position: relative;
      display: flex; }
  .wrapper__sidebar-loupe {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    right: 20px; }
  .wrapper__sidebar-search-input {
    height: 50px;
    display: flex;
    justify-content: center;
    font: 100 18px/100% "Waverly CF";
    padding-left: 20px;
    color: rgba(0, 82, 71, 0.8);
    border: 0;
    background: transparent;
    width: 0;
    outline: none;
    transition: all .3s ease;
    margin-bottom: 15vh;
    border-radius: 30px; }
    .wrapper__sidebar-search-input.active {
      width: 180px;
      border: 1px solid rgba(0, 82, 71, 0.8); }
  .wrapper__socials {
    position: fixed;
    top: calc(50vh - 90px);
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 180px; }
    .wrapper__socials-wrap {
      width: 60px;
      height: 60px;
      background: rgba(0, 82, 71, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: relative;
      overflow: hidden;
      transform: translateX(10vw);
      transition: all .5s ease;
      opacity: 0; }
      .wrapper__socials-wrap:after {
        content: "";
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background-color: rgba(0, 82, 71, 0.5);
        width: 0;
        transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .wrapper__socials-wrap:hover:after {
        width: 100%; }
    .wrapper__socials-icons {
      display: flex;
      visibility: visible;
      animation-delay: 2s;
      width: 30px;
      height: 40px;
      position: relative;
      z-index: 4; }
      .wrapper__socials-icons--vk {
        background: url("../images/icons/socials/vk.svg") no-repeat center/contain; }
      .wrapper__socials-icons--tlg {
        background: url("../images/icons/socials/telegram.svg") no-repeat center/contain; }
      .wrapper__socials-icons--inst {
        background: url("../images/icons/socials/instagram.svg") no-repeat center/contain; }
  .wrapper__columns {
    width: calc(100% - 220px);
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 0; }
  .wrapper__column {
    width: calc(100% / 8);
    height: 100%;
    min-height: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    animation: column .6s ease-in; }
  .wrapper__plants, .wrapper__pots, .wrapper__about-us {
    display: flex;
    z-index: 1; }
    .wrapper__plants-wrap, .wrapper__pots-wrap, .wrapper__about-us-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 60px;
      overflow: hidden; }
      .wrapper__plants-wrap.pots-visible, .wrapper__pots-wrap.pots-visible, .wrapper__about-us-wrap.pots-visible {
        overflow: visible; }
    .wrapper__plants-title, .wrapper__pots-title, .wrapper__about-us-title {
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
    .wrapper__plants-subtitle, .wrapper__pots-subtitle, .wrapper__about-us-subtitle {
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
    .wrapper__plants-text, .wrapper__pots-text, .wrapper__about-us-text {
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
    .wrapper__plants p, .wrapper__pots p, .wrapper__about-us p {
      text-indent: 35px;
      margin-bottom: 25px; }
      .wrapper__plants p p:last-child, .wrapper__pots p p:last-child, .wrapper__about-us p p:last-child {
        margin-bottom: 0; }
  .wrapper__button {
    font: 500 15px/100% "Waverly CF";
    color: #000000;
    width: fit-content;
    margin-top: 30px;
    padding-bottom: 5px;
    position: relative;
    transform: translateX(-20vw);
    transition: all .5s ease;
    opacity: 0; }
    .wrapper__button:before, .wrapper__button:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px; }
    .wrapper__button:before {
      width: 100%;
      background-color: #808080; }
    .wrapper__button:after {
      width: 0;
      background-color: #FFCC73;
      transition: all .3s ease; }
    .wrapper__button:hover:after {
      width: 100%; }
  .wrapper__plants {
    grid-area: plants; }
    .wrapper__plants-img {
      grid-row-start: 0;
      grid-row-end: 1;
      grid-area: plants-image;
      overflow: hidden; }
    .wrapper__plants-image {
      background: url("../images/plants/1.jpg") no-repeat center/cover;
      height: 100%;
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
  .wrapper__pots {
    grid-area: pots; }
    .wrapper__pots-img {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-area: pots-image;
      overflow: hidden; }
    .wrapper__pots-image {
      background: url("../images/pots/1.jpg") no-repeat center/cover;
      height: 70vh;
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
    .wrapper__pots-title {
      margin-left: calc((100vw - 220px) / -8 + 3px); }
  .wrapper__about-us {
    grid-area: about; }
    .wrapper__about-us-img {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-area: about-image;
      height: 70vh;
      overflow: hidden; }
    .wrapper__about-us-image {
      background: url("../images/about/1.jpg") no-repeat center/cover;
      height: 70vh;
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
  .wrapper__advantages {
    grid-area: adv;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden; }
    .wrapper__advantages-title {
      margin-bottom: 40px;
      justify-content: flex-end;
      transform: translateX(-20vw);
      transition: all .5s ease;
      opacity: 0; }
    .wrapper__advantages-buttons {
      display: flex;
      justify-content: center;
      font: 500 18px/100% "Waverly CF";
      color: rgba(0, 82, 71, 0.8);
      margin: 0 auto;
      transition: all .8s ease;
      opacity: 0; }
      .wrapper__advantages-buttons.active {
        opacity: 1; }
    .wrapper__advantages-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;
      margin-right: 20px;
      background: rgba(255, 204, 115, 0.8);
      position: relative;
      cursor: pointer; }
      .wrapper__advantages-button:last-child {
        margin-right: 0; }
      .wrapper__advantages-button:after {
        content: "";
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background-color: #ffcc73;
        width: 0;
        transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .wrapper__advantages-button:hover:after {
        width: 100%; }
      .wrapper__advantages-button.active-button {
        background-color: #ffcc73; }
    .wrapper__advantages-range {
      display: flex;
      margin-top: 40px;
      margin-bottom: 60px;
      width: 100%;
      justify-content: space-between;
      transition: all .4s ease; }
      .wrapper__advantages-range.range-none {
        margin: 0;
        height: 0;
        opacity: 0;
        overflow: hidden; }
      .wrapper__advantages-range.range-center {
        justify-content: center; }
    .wrapper__advantages-column {
      min-height: 205px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: calc(100%/3 + 15px);
      padding-left: 30px;
      overflow: hidden;
      transform: translateY(20vh);
      transition: all .5s ease;
      opacity: 0; }
      .wrapper__advantages-column:first-child {
        padding-left: 0; }
    .wrapper__advantages-column-img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      display: flex; }
      .wrapper__advantages-column-img.icon-1 {
        background: rgba(0, 82, 71, 0.8) url("../images/icons/hand.svg") no-repeat center/cover;
        background-size: 60px; }
      .wrapper__advantages-column-img.icon-2 {
        background: rgba(0, 82, 71, 0.8) url("../images/icons/shipped.svg") no-repeat center/contain;
        background-size: 60px; }
      .wrapper__advantages-column-img.icon-3 {
        background: rgba(0, 82, 71, 0.8) url("../images/icons/idea.svg") no-repeat center/contain;
        background-size: 60px; }
      .wrapper__advantages-column-img.icon-4 {
        background: rgba(0, 82, 71, 0.8) url("../images/icons/plant.svg") no-repeat center/contain;
        background-size: 60px; }
      .wrapper__advantages-column-img.icon-5 {
        background: rgba(0, 82, 71, 0.8) url("../images/icons/bouquet.svg") no-repeat center/contain;
        background-size: 60px; }
    .wrapper__advantages-column-title {
      font: bold 20px/100% "Waverly CF";
      color: #444444;
      margin-top: 30px; }
    .wrapper__advantages-column-text {
      font: bold 15px/100% "Waverly CF";
      color: #444444;
      margin-top: 20px;
      text-align: justify; }

.footer-wrapper {
  background: #FFCC73;
  max-width: calc(100% - 220px);
  margin-left: auto;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer-wrapper__logo {
    background: url("../images/icons/logo.svg") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px; }

.burger {
  width: 30px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out; }
  .burger.open {
    transform: rotate(-45deg); }
    .burger.open .line-menu.start {
      transform: rotate(-90deg) translateX(3px); }
    .burger.open .line-menu.end {
      transform: rotate(-90deg) translateX(-3px); }

.line-menu {
  background-color: #444444;
  border-radius: 5px;
  width: 100%;
  height: 3px; }
  .line-menu.half {
    width: 50%; }
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right; }
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left; }
