<div class="wrap-cart__form">
    <form id="contactForm" class="formCart">
        <span class="formCart__title">Заполните ваши данные:</span>
        <div class="formCart__content-close"></div>
        <div class="formCart__container">
            <label for="name" class="formCart__container-label"> Введите вашу фамилию:</label>
            <input id="name" class="formCart__container-input" name="name" required type="text" placeholder="Фамилия">
        </div>
        <div class="form-cart__container">
            <label for="name" class="formCart__container-label"> Введите ваше имя:</label>
            <input id="name" class="formCart__container-input" name="name" required type="text" placeholder="Имя">
        </div>
        <div class="formCart__container">
            <label for="phone" class="formCart__container-label">Введите ваш телефон:</label>
            <input id="phone" class="formCart__container-input" name="phone" required type="text" placeholder="Телефон">
        </div>
        <div class="formCart__container">
            <label for="name" class="formCart__container-label"> Город:</label>
            <input id="name" class="formCart__container-input" name="name" required type="text" placeholder="Город">
        </div>
        <div class="formCart__container">
            <label for="name" class="formCart__container-label"> Адрес:</label>
            <input id="name" class="formCart__container-input" name="name" required type="text" placeholder="Индек(для почтовых отправлений), улица, номер дома, номер квартиры...">
        </div>
        <div class="formCart__container">
            <label for="message" class="formCart__container-label">Введите ваш комментарий:</label>
            <textarea id="message" class="formCart__container-textarea" required name="message" rows="4" placeholder="Ваш комментарий"></textarea>
        </div>
        <div class="formCart__container-box">
            <div class="formCart__container container-checkbox">
                <input id="check" name="check" type="checkbox" class="formCart__container-checkbox">
                <label for="check" class="formCart__container-text">Я добровольно отправляю свои данные</label>
            </div>
            <button id="button" class="buttonCart" type="submit">Купить</button>
        </div>
    </form>
    <div id="success"  class="wrap-cart__sent"></div>
</div>



