<section class="wrap-cart__cart" data-anim="1.2">
    <div class="wrap-cart__title" data-anim="0.8">Корзина</div>
    <div class="wrap-cart__designation">
        <div class="wrap-cart__designation-product">Продукт</div>
        <div class="wrap-cart__designation-name">Цена</div>
        <div class="wrap-cart__designation-name">Количество</div>
        <div class="wrap-cart__designation-name">Сумма</div>
    </div>
    <div class="wrap-cart__result"></div>
    <div class="wrap-cart__total">
        <div class="wrap-cart__total-title">Общая стоимость заказа/покупки:</div>
        <div class="wrap-cart__total-result"></div>
    </div>
    <div class="wrap-cart__button">
        <button id="buttonCart" class=" cartBtn" type="submit">Оформить покупку</button>
    </div>
</section>

