<section class="wrap__about" data-anim="0.8">
    <div class="wrap__about-title">Каталог растений</div>
    <div class="wrap__about-text">
        Суккуленты привезенные из Голландии имеют классические размеры и виды.
        Они продаются в пластиковых горшочках и в транспортировочном грунте.
        После покупки, в течение 1-2 недель, из такого грунта нужно пересадить растение в правильный, более подходящий грунт.
    </div>
</section>