@import '../include/config'

.wrapper

  &__about-us
      grid-area: about
      +maxwidth($tablet)
          order: 7

      &-img
          grid-row-start: 2
          grid-row-end: 3
          grid-area: about-image
          overflow: hidden
          +maxwidth($tablet)
              grid-row-start: 5
              grid-row-end: 6
              order: 6

      &-image
          height: 70vh
          background: url("about/1.jpg") no-repeat center / cover
          transform: translateX(-20vw)
          transition: all .5s ease
          opacity: 0
          +maxwidth($mobail)
              height: 60vh
          +maxwidth($min-width)
              height: 25vh
          &.active
              @extend %active