@import '../include/config'

.overlay
    position: absolute
    width: 100%
    height: 100vh
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, .8)
    display: flex
    justify-content: center

.modal, .mdl
    position: fixed
    z-index: 1050
    display: none
    justify-content: center
    align-items: center
    outline: 0
    opacity: 1
    +maxwidth(880px)
        overflow-y: scroll

    &__content
        max-width: 55%
        width: 100%
        display: flex
        padding: 5%
        z-index: 10
        background: $white
        left: 0
        right: 0
        top: 0
        margin: 0 auto
        +maxwidth($desktop)
            max-width: 75%
        +maxwidth(880px)
            max-width: 50%
            position: absolute
            top: 5%
            flex-direction: column
            align-items: center
        +maxwidth(580px)
            max-width: 80%

        &-close
            background: url("icons/close.svg") no-repeat center / cover
            width: 20px
            height: 20px
            right: 0
            position: absolute
            cursor: pointer
            +maxwidth(880px)
                top: 15px
                right: 20px

        &-img
            max-width: 35%
            min-height: 75%
            +maxwidth($tablet)
                max-width: 400px
            +maxwidth(880px)
                margin-top: 25px
            +maxwidth($mobail)
                max-width: 250px
                max-height: 500px

        &-about
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-left: 60px
            width: 100%
            position: relative
            +maxwidth($desktop)
                margin-left: 50px
            +maxwidth($tablet)
                margin-left: 40px
            +maxwidth(880px)
                margin-left: 0
                position: unset
                margin-top: 30px
                max-width: 250px

        &-name
            width: fit-content
            font: bold 30px/100% $waverly
            color: $green
            padding-bottom: 5px
            border-bottom: 5px solid $green
            +maxwidth($desktop)
                font: bold 28px/100% $waverly
            +maxwidth($tablet)
                font: bold 26px/100% $waverly
            +maxwidth(880px)
                font: bold 23px/100% $waverly

        &-price
            font: 300 24px/100% $waverly
            color: $darkgray
            margin-top: 20px
            +maxwidth($desktop)
                font: 300 22px/100% $waverly
            +maxwidth($tablet)
                font: 300 20px/100% $waverly
                margin-top: 15px
            +maxwidth(880px)
                font: 300 20px/100% $waverly
                margin-top: 10px

        &-text
            font: 300 22px/100% $waverly
            color: $gray
            margin-bottom: 60px
            +maxwidth($desktop)
                font: 300 20px/100% $waverly
            +maxwidth($tablet)
                font: 300 20px/100% $waverly
                margin-bottom: 40px
            +maxwidth(880px)
                font: 300 18px/100% $waverly
                margin-bottom: 20px

            ul
                list-style-type: disc
                padding-left: 20px

            p:first-child
                text-indent: 0
                font: bold 22px/100% $waverly
                +maxwidth($desktop)
                    font: bold 20px/100% $waverly
                +maxwidth($tablet)
                    font: bold 20px/100% $waverly
                +maxwidth(880px)
                    font: bold 18px/100% $waverly

        &-card
            display: flex
            justify-content: space-between
            +maxwidth($tablet)
                flex-direction: column
                align-items: start
            +maxwidth(880px)
                align-items: center

        &-counter
            display: flex
            margin-top: 40px
            width: 200px
            justify-content: space-between
            align-items: center
            +maxwidth($tablet)
                margin-top: 30px
            +maxwidth(880px)
                margin-top: 20px
                width: 250px

        &-add, &-substract
            width: 50px
            height: 50px
            cursor: pointer
            position: relative
            +maxwidth(880px)
                width: 40px
                height: 40px
            &:after
                content: ""
                height: 100%
                top: 0
                left: 0
                position: absolute
                z-index: -1
                background-color: rgba(0,82,71, 0.5)
                width: 0
                transition: width .3s cubic-bezier(.645,.045,.355,1)
            &:hover:after
                width: 100%
        &-add
            background: rgba(0,82,71, 0.8) url("icons/add.svg") no-repeat center / cover
            background-size: 50%

        &-substract
            background: rgba(0,82,71, 0.8) url("icons/substract.svg") no-repeat center / cover
            background-size: 50%

        &-numb
            font: bold 24px/100% $waverly
            +maxwidth($tablet)
                font: bold 22px/100% $waverly

        &-container
            display: flex
            justify-content: space-between
            +maxwidth($tablet)
                flex-direction: column

        &-cont
            display: flex
            flex-direction: column
            +maxwidth($tablet)
                &:last-child
                    margin-top: 20px










