@import '../include/config'

.wrapper
  &__sidebar
      max-width: 220px
      width: 100%
      height: 100vh
      visibility: visible
      position: fixed
      z-index: 40
      display: flex
      flex-direction: column
      justify-content: start
      align-items: center
      overflow: hidden
      transform: translateX(-20vw)
      transition: all .5s ease
      opacity: 0
      +maxwidth($desktop)
          max-width: 150px
      +maxwidth($tablet)
          max-width: calc(100vw - 60px)
          height: 70px
          padding: 0 30px 0 30px
          flex-direction: row
          justify-content: space-between
          align-items: center
          background: $white
      &.active
          @extend %active

      &-logo
          width: 50px
          min-height: 50px
          margin-top: 5vh
          background: url('icons/logo.svg') no-repeat
          background-size: contain
          opacity: 0.8
          +maxwidth($tablet)
              margin-top: 0

      &-nav
          height: 100vh
          margin-top: 15vh
          display: flex
          flex-direction: column
          +maxwidth($tablet)
              height: 100%
              margin-top: 0
              flex-direction: row
              align-items: center

      &-contacts
          width: 200px
          height: 60px
          padding-left: 20px
          bottom: 0
          display: flex
          align-items: center
          font: bold 25px/100% $waverly
          color: $orange
          background: $green
          position: absolute
          +maxwidth($desktop)
              width: 130px
              height: 50px
              font: bold 20px/100% $waverly
          +maxwidth($tablet)
              display: none
          &:after
              content: ""
              width: 0
              height: 100%
              top: 0
              left: 0
              position: absolute
              z-index: -1
              background-color: rgba(0,82,71, 0.5)
              transition: width .3s cubic-bezier(.645,.045,.355,1)
          &:hover:after
              width: 100%

      &-search
          width: 100%
          height: 60px
          margin-bottom: 15vh
          display: flex
          justify-content: center
          +maxwidth($desktop)
              height: 50px
          +maxwidth($tablet)
              display: none

          form
              position: relative
              display: flex

      &-loupe
          width: 30px
          height: 30px
          margin-top: 10px
          right: 0
          position: absolute
          opacity: 0.8
          cursor: pointer
          &.active
              right: 20px

      &-search-input
          width: 0
          height: 50px
          padding-left: 20px
          margin-bottom: 15vh
          display: flex
          justify-content: center
          font: 100 18px/100% $waverly
          color: $green
          border: 0
          border-radius: 30px
          background: transparent
          outline: none
          transition: all .3s ease
          +maxwidth($desktop)
              font: 100 16px/100% $waverly
          &.active
              width: 180px
              border: 1px solid $green
              +maxwidth($desktop)
                  width: 110px