<section class="wrapper__aboutUs-img">
    <div class="wrapper__aboutUs-title" data-anim="0.8">Trava</div>
    <div class="wrapper__aboutUs-image" data-anim="1"></div>
</section>
<section class="wrapper__aboutUs" id="about">
    <div class="wrapper__aboutUs-wrap">
        <div class="wrapper__aboutUs-subtitle" data-anim="1.2">цветочная мастерская</div>
        <div class="wrapper__aboutUs-text" data-anim="1.4">
            <p>TRAVA - это очень уютный, тёплый и влюбляющий в суккуленты магазинчик.
                Суккуленты - это те самые модные и цветные южные растения, которые хочет поселить у себя на подоконнике каждая девушка. У нас их огромное количество!<p>
            <p>Так же TRAVA - это мраморные горшочки. Мы вручную с любовью создаём каждый горшок.
                Наша любовь передается через гармоничность композиций, упаковку, маленькие подарочки при покупке и брошюры с памятками, всё сделано с заботой о Вас.
                Все горшки выполнены из безопасного материала, который не вредит растениям и людям.<p>
            <p> В нашей коллекции можно найти горшки различных форм, размеров и цветов, которые предназначены специально для компактных суккулентов.
                Мраморный рисунок идеально подчеркивает красоту этих необычных растений.<p>
            <p>В нашем Insta-блоге мы подробно рассказываем, как ухаживать за домашними растениями, показываем лайфхаки и учим не бояться приобретать растения, после неудачных попыток.<p>
            <p>Вы всегда можете обратиться к нам за советом, если думаете, что с вашим суккулентом что-то не так.<p>
            <p>Также недавно открылся наш первый уютный магазинчик, куда вы можете приехать и посмотреть все горшочки и растения в живую.<p>
        </div>
    </div>
</section>
