<section class="wrapper__advantages">
    <div class="wrapper__advantages-title" data-anim="0.8">Почему TRAVA?</div>
    <div class="wrapper__advantages-buttons"  data-anim="1">
        <div class="wrapper__advantages-button active-button">Ассортимент</div>
        <div class="wrapper__advantages-button">Доставка</div>
    </div>
    <div class="wrapper__advantages-range">
        <div class="wrapper__advantages-column" data-anim="1">
            <div class="wrapper__advantages-column-img icon-1"></div>
            <div class="wrapper__advantages-column-title">Открытия</div>
            <div class="wrapper__advantages-column-text">Мы посвящаем себя открытию необычных растений и цветов, поэтому работаем с проверенными поставщиками и получаем их с разных концов мира.</div>
        </div>
        <div class="wrapper__advantages-column" data-anim="1.2">
            <div class="wrapper__advantages-column-img icon-2"></div>
            <div class="wrapper__advantages-column-title">Обновление ассортимента</div>
            <div class="wrapper__advantages-column-text">Поставки цветов до четырёх раз в неделю, чтобы гарантировать свежесть букетов. Поставки растений каждую неделю.</div>
        </div>
        <div class="wrapper__advantages-column" data-anim="1.4">
            <div class="wrapper__advantages-column-img icon-3"></div>
            <div class="wrapper__advantages-column-title">Язык цветов</div>
            <div class="wrapper__advantages-column-text">Наши флористы готовы на самые смелые идеи, чтобы Ваш букет был незабываем!</div>
        </div>
    </div>
    <div class="wrapper__advantages-range range-none range-center">
        <div class="wrapper__advantages-column" data-anim="0.2">
            <div class="wrapper__advantages-column-img icon-4"></div>
            <div class="wrapper__advantages-column-title">Доставка растений</div>
            <div class="wrapper__advantages-column-text">Мы готовы доставить Вам почти все наши растения.</div>
        </div>
        <div class="wrapper__advantages-column" data-anim="0.3">
            <div class="wrapper__advantages-column-img icon-5"></div>
            <div class="wrapper__advantages-column-title">Доставка букетов</div>
            <div class="wrapper__advantages-column-text">Вручение цветов создаёт особый момент. Мы стремимся к совершенству с каждым букетом.</div>
        </div>
    </div>
</section>