<section class="wrap__catalog" data-anim="1.2">
    <a href="#" class="wrap__catalog-elem succulent 5 7" data-price="250">
        <div class="wrap__catalog-img">
            <img src="plants/1.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Молодило</div>
        <div class="wrap__catalog-price">от 250 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem cactus 5 10" data-price="300">
        <div class="wrap__catalog-img">
            <img src="plants/2.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Эхеверия "Типпи"</div>
        <div class="wrap__catalog-price">от 300 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem succulent 7" data-price="300">
        <div class="wrap__catalog-img">
            <img src="plants/3.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Котиледон</div>
        <div class="wrap__catalog-price">от 300 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem succulent 5" data-price="450">
        <div class="wrap__catalog-img">
            <img src="plants/4.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Крассула "Храм Будды"</div>
        <div class="wrap__catalog-price">от 450 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem cactus 5 7 10" data-price="400">
        <div class="wrap__catalog-img">
            <img src="plants/5.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Хавортия "Лимифолия"</div>
        <div class="wrap__catalog-price">от 400 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem succulent 7" data-price="300">
        <div class="wrap__catalog-img">
            <img src="plants/6.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Хавортия ладьевидная</div>
        <div class="wrap__catalog-price">от 300 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem cactus 10" data-price="350">
        <div class="wrap__catalog-img">
            <img src="plants/7.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Алоэ ежовое</div>
        <div class="wrap__catalog-price">от 350 руб.</div>
    </a>
</section>