<section class="wrap__catalog" data-anim="1">
    <a href="#" class="wrap__catalog-elem">
        <div class="wrap__catalog-img">
            <img src="plants/1.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Гекса</div>
        <div class="wrap__catalog-price">от 400 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem">
        <div class="wrap__catalog-img">
            <img src="plants/2.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Цилиндр</div>
        <div class="wrap__catalog-price">от 300 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-elem">
        <div class="wrap__catalog-img">
            <img src="plants/3.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Окта</div>
        <div class="wrap__catalog-price">от 500 руб.</div>
    </a>
</section>