<section class="wrap__about" data-anim="0.8">
    <div class="wrap__about-title">Каталог кашпо</div>
    <div class="wrap__about-text">
        Все горшочки выполнены из прочного и износостойкого материала.
        Каждый горшок с дренажным отверстием + защитные подушечки на дне горшочка для защиты вашей мебели от царапок.
        Поливать суккуленты в мраморных горшочках нужно аккуратно, чтобы вода не стекала по внешним стенкам горшка.
        Поливать следует отстоявшейся водой для избежания выступов щелочных разводов.
    </div>
</section>