<section class="wrap__menu" data-anim="0.8">
    <div class="wrap__menu-container">
        <div class="wrap__menu-title">Растения</div>
        <select class="wrap__menu-select">
            <option value="cactus">кактусы</option>
            <option value="succulent">суккуленты</option>
        </select>
    </div>
    <div class="slider-container">
        <div class="slider-container__count">
            <label for="amount">Цена от</label>
            <input type="text" id="amount" class="slider-input">
        </div>
        <div class="slider">
            <div class="slider-ui">
                <div id="slider-range" class="slider-range">
                </div>
            </div>
        </div>
    </div>
    <div class="wrap__menu-container">
        <div class="wrap__menu-title">Диаметр горшка</div>
        <select class="wrap__menu-select">
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="10">10</option>
        </select>
    </div>
</section>