<section class="wrapper__columns">
    <span class="wrapper__column"></span>
    <span class="wrapper__column"></span>
    <span class="wrapper__column"></span>
    <span class="wrapper__column column-none"></span>
    <span class="wrapper__column column-none"></span>
    <span class="wrapper__column column-none"></span>
    <span class="wrapper__column column-none"></span>
    <span class="wrapper__column column-none"></span>
</section>