<footer class="footerWrapper">
    <div class="footerWrapper__logo"></div>
</footer>

<% include ../parts/modalPlant %>

<script>let plants = <%-plants %> </script>
<script src="jquery/dist/jquery.min.js"></script>
<script src="jquery-ui-dist/jquery-ui.min.js"></script>
<script src="jquery.maskedinput/src/jquery.maskedinput.js"></script>
<script src="all.js"></script>
