<aside class="wrapper__sidebar" data-anim="0.5">
    <a href="/" class="wrapper__sidebar-logo"></a>
    <div class="wrapper__sidebar-nav">
        <div class="burger">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
        <nav>
            <a href="/catalog-plants" class="nav-link close">Растения</a>
            <a href="/catalog-pots" class="nav-link close">Бетонные кашпо</a>
            <a href="/about" class="nav-link close">О нас</a>
        </nav>
    </div>
    <img src="icons/loupe.svg" alt=" " class="wrapper__sidebar-searchImg" >
    <a href="/contacts" class="wrapper__sidebar-contacts">Контакты</a>
</aside>

<div class="mobileMenu">
    <nav class="mobileMenu__nav">
        <a href="/catalog-plants" class="nav-link">Растения</a>
        <a href="/catalog-pots" class="nav-link">Бетонные кашпо</a>
        <a href="/about" class="nav-link">О нас</a>
        <a href="/contacts" class="nav-link">Контакты</a>
        <img src="icons/loupe.svg" alt=" " class="wrapper__sidebar-searchImg mobileMenu__searchImg" >
    </nav>
    <div class="mobileMenu__social">
        <div class="wrapper__socials-wrap" data-anim="2">
            <a href="#" class="wrapper__socials-icons wrapper__socials-icons--vk"></a>
        </div>
        <div class="wrapper__socials-wrap" data-anim="2.1">
            <a href="#" class="wrapper__socials-icons wrapper__socials-icons--tlg"></a>
        </div>
        <div class="wrapper__socials-wrap" data-anim="2.2">
            <a href="#" class="wrapper__socials-icons wrapper__socials-icons--inst"></a>
        </div>
    </div>
</div>


