<div class="mdl overlay">
    <div id="modal" class="mdl__content">
        <img src="plants/1.jpg" alt="" class="mdl__content-img">
        <div class="mdl__content-about">
            <div class="mdl__content-close"></div>
            <div class="mdl__content-name"></div>
            <div class="mdl__content-price"></div>
            <div class="mdl__content-text">
                <p class="desc-text"></p>
            </div>
            <div class="mdl__content-container">
                <div class="mdl__content-cont">
                    <div class="wrap__menu-title">Выберите размер</div>
                    <select class="select-modal">
                        <option value="S">S - горшочек D 5 см</option>
                        <option value="M">M - горшочек D 6-8 см</option>
                        <option value="L">L - горшочек D от 10</option>
                    </select>
                </div>
                <div class="mdl__content-cont">
                    <div class="wrap__menu-title">Выберите цвет</div>
                    <select class="select-modal">
                        <option value="white">белый</option>
                        <option value="mramor">мраморный</option>
                        <option value="black">черный</option>
                    </select>
                </div>
            </div>
            <div class="mdl__content-card">
                <div class="mdl__content-counter">
                    <span class="mdl__content-substract"></span>
                    <input class="mdl__content-numb" type="text" value="1" size="5">
                    <span class="mdl__content-add"></span>
                </div>
                <button class="buttonBasket pots">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>