<div class="modal overlay">
    <div id="modal" class="modal__content">
        <img src="plants/1.jpg" alt="" class="modal__content-img">
        <div class="modal__content-about">
            <div class="modal__content-close"></div>
            <div class="modal__content-name">Гекса</div>
            <div class="modal__content-price">400 руб.</div>
            <div class="modal__content-text">
                <ul>
                    <li>Стильный многогранный горшок с тонкими стенками можно использовать как кашпо для цветов, так и для хранения мелочей или канцелярии или визиток</li>
                    <li>Фотографии с ним смотрятся как картинки с пинтереста.</li>
                    <li>И главное, он нравится мужчинам.</li>
                    <li>Удобно поливать из шприца.</li>
                </ul>
            </div>
            <div class="modal__content-container">
                <div class="modal__content-cont">
                    <div class="wrap__menu-title">Выберите размер</div>
                    <select class="select-modal">
                        <option value="S">S - горшочек D 5 см</option>
                        <option value="M">M - горшочек D 6-8 см</option>
                        <option value="L">L - горшочек D от 10</option>
                    </select>
                </div>
                <div class="modal__content-cont">
                    <div class="wrap__menu-title">Выберите цвет</div>
                    <select class="select-modal">
                        <option value="white">белый</option>
                        <option value="mramor">мраморный</option>
                        <option value="black">черный</option>
                    </select>
                </div>
            </div>
            <div class="modal__content-card">
                <div class="modal__content-counter">
                    <div class="modal__content-add"></div>
                    <div class="modal__content-numb">1</div>
                    <div class="modal__content-substract"></div>
                </div>
                <button class="button-basket">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>