<div class="modal overlay">
    <div id="modal" class="modal__content">
        <img src="plants/1.jpg" alt="" class="modal__content-img">
        <div class="modal__content-about">
            <div class="modal__content-close"></div>
            <div class="modal__content-name"></div>
            <div class="modal__content-price"></div>
            <div class="modal__content-text">
                <p class="desc-title">Про уход: </p>
                <p class="desc-text"></p>
            </div>
            <div class="wrap__menu-title">Выберите размер</div>
            <select class="select-modal"></select>
            <div class="modal__content-card">
                <div class="modal__content-counter">
                    <div class="modal__content-substract"></div>
                    <div class="modal__content-numb">1</div>
                    <div class="modal__content-add"></div>
                </div>
                <button class="button-basket">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>