<div class="modal overlay">
    <div id="modal" class="modal__content">
        <img src="plants/1.jpg" alt="" class="modal__content-img">
        <div class="modal__content-about">
            <div class="modal__content-close"></div>
            <div class="modal__content-name">Молодило</div>
            <div class="modal__content-price">250 руб.</div>
            <div class="modal__content-text">
                <p>Про уход: </p>
                <p>Предпочитает южное окно с ярким освещением.</p>
                <p>Полив умеренный:</p>
                <p>с Мая по Октябрь - 1 раз в 1-2 недели;</p>
                <p>с Ноября по Апрель - 1 раз в 3-4 недели.</p>
            </div>
            <div class="wrap__menu-container">
                <div class="wrap__menu-title">Выберите размер</div>
                <select class="wrap__menu-select">
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="modal__content-card">
                <div class="modal__content-counter">
                    <div class="modal__content-add"></div>
                    <div class="modal__content-numb">1</div>
                    <div class="modal__content-substract"></div>
                </div>
                <button class="button-basket">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>