<div class="wrap__pagination" data-anim="1.2">
    <a class="wrap__pagination-newer" href="#">предыдущая</a>
    <span class="wrap__pagination-inner">
                    <a class="wrap__pagination-link" href="#">1</a>
                    <a class="wrap__pagination-link wrap__pagination-active" href="#">2</a>
                    <a class="wrap__pagination-link"  href="#">3</a>
                    <a class="wrap__pagination-link"  href="#">4</a>
                    <a class="wrap__pagination-link"  href="#">5</a>
                    <a class="wrap__pagination-link"  href="#">6</a>
                 </span>
    <a class="wrap__pagination-older" href="#">следующая</a>
</div>