<section class="wrap__catalogPots" data-anim="1">
    <a href="#" class="wrap__catalog-el" id="0">
        <div class="wrap__catalog-img">
            <img src="pots/1.jpg" alt="" class="wrap__catalog-image">
        </div>
        <div class="wrap__catalog-name">Гекса</div>
        <div class="wrap__catalog-price">от 400 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-el" id="1">
        <div class="wrap__catalog-img">
            <img src="pots/2.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Цилиндр</div>
        <div class="wrap__catalog-price">от 300 руб.</div>
    </a>
    <a href="#" class="wrap__catalog-el" id="2">
        <div class="wrap__catalog-img">
            <img src="pots/3.jpg" alt="">
        </div>
        <div class="wrap__catalog-name">Окта</div>
        <div class="wrap__catalog-price">от 500 руб.</div>
    </a>
</section>