<!doctype html>
<html lang="ru">
<% include ../parts/head %>
<body>
    <div class="wrapper">
        <% include ../parts/leftMenu %>
        <% include ../parts/socials %>
        <main class="wrap-about">
            <% include ../parts/columns %>
            <% include ../parts/aboutPage %>
        </main>
    </div>
    <% include ../parts/footer %>
</body>
</html>