<!doctype html>
<html lang="ru">
<% include ../parts/head %>
<body>
    <div class="wrapper wrapper-pots">
        <% include ../parts/leftMenu %>
        <% include ../parts/socials %>
        <main class="wrap wrap__pots">
            <% include ../parts/columns %>
            <% include ../parts/catalogPotsTitle %>
            <% include ../parts/catalogPots %>
        </main>
    </div>
    <% include ../parts/modalPots %>
    <% include ../parts/footer %>
</body>
</html>