<!doctype html>
<html lang="ru">
<% include ../parts/head %>
<body>
    <div class="wrapper">
        <% include ../parts/leftMenu %>
        <% include ../parts/socials %>
        <main class="wrap">
            <% include ../parts/columns %>
            <% include ../parts/catalogPlantsTitle %>
            <% include ../parts/catalogFilters %>
            <section class="wrap__catalog" data-anim="1.2"></section>
            <% include ../parts/pagination %>
        </main>
    </div>
    <% include ../parts/modalPlant %>
    <% include ../parts/footer %>
    <script> let json = <%- data %></script>
</body>
</html>