<!doctype html>
<html lang="ru">
<% include ../parts/head %>
<body>
    <div class="wrapper">
        <% include ../parts/leftMenu %>
        <main class="wrap">
            <% include ../parts/columns %>
            <section class="wrap__contacts" data-anim="0.8">
                <% include ../parts/contacts/contactsTitle %>
                <% include ../parts/contacts/contactsForm %>
                <% include ../parts/contacts/contactsSocials %>
            </section>
        </main>
    </div>
    <% include ../parts/footer %>
</body>
</html>