<section class="wrapper__plants" id="plants">
    <div class="wrapper__plants-wrap">
        <div class="wrapper__plants-title" data-anim="0.8">Растения</div>
        <div class="wrapper__plants-subtitle" data-anim="1.5">кактусы и суккуленты</div>
        <div class="wrapper__plants-text" data-anim="1.5">
            <p>У нас в магазине в Ростове-на-Дону и на сайте вы можете выбрать и купить кактусы, суккуленты, декоративно-лиственные и насекомоядные растения, а также тилландсии. </p>
            <p>Мы посвящаем себя открытию необычных растений, поэтому работаем с проверенными поставщиками и получаем их с разных концов мира. Поставки растений каждую неделю. Мы готовы доставить Вам почти все наши растения (по территории России). </p>
        </div>
        <a class="buttonIndex" data-anim="1.5" href="/catalog-plants">Перейти к каталогу</a>
    </div>
</section>
<section class="wrapper__plants-img">
    <div class="wrapper__plants-image" data-anim="0.8"></div>
</section>