<section class="wrapper__pots-img" id="pots">
    <div class="wrapper__pots-image" data-anim="0.8"></div>
</section>
<section class="wrapper__pots">
    <div class="wrapper__pots-wrap pots-visible">
        <div class="wrapper__pots-title" data-anim="0.8">Бетонные кашпо</div>
        <div class="wrapper__pots-subtitle" data-anim="1.5">горшки из бетона</div>
        <div class="wrapper__pots-text" data-anim="1.5">
            <p>У нас в магазине в Ростове-на-Дону и на сайте вы можете выбрать и купить бетонные горшки различных геометрических форм, размеров и цветов. </p>
        </div>
        <a href="/catalog-pots" class="buttonIndex" data-anim="1.5">Перейти к каталогу</a>
    </div>
</section>